@model IEnumerable<ShelterAvailability.Models.ShelterModels.Shelter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentTotalSpaces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleSpacesAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilySpacesAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPopulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentTotalSpaces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SingleSpacesAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilySpacesAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPopulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShelterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShelterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShelterID })
        </td>
    </tr>
}

</table>
